.arrival-title {
    position: relative;

    h2 {
        font-size: 2rem;
        text-align: center;
        &:before {
            position: absolute;
            top: 25px;
            left: 35%;
            width: 80px;
            height: 2px;
            content: "";
            background-color: #000;
        }

        &:after {
            position: absolute;
            top: 25px;
            left: 58.5%;
            width: 80px;
            height: 2px;
            content: "";
            background-color: #000;
        }
    }
}

.card {
    position: relative;
    .prod-info {
        position: absolute;
        display: none;
        text-align: center;
        bottom: 0px;
        width: 85.5%;
        padding-bottom: 21px;
        transition: all 1s ease-in-out;
    }
    &:hover {

        .prod-img{
            transition: all .5s ease;
            transform: translateY(-10px);
        }
        .prod-info {
            display: block;
        }
    }
}
