.blog-title {
    position: relative;

    h2 {
        font-size: 2rem;
        text-align: center;
        &:before {
            position: absolute;
            top: 25px;
            left: 33%;
            width: 80px;
            height: 2px;
            content: "";
            background-color: #000;
        }

        &:after {
            position: absolute;
            top: 25px;
            left: 61%;
            width: 80px;
            height: 2px;
            content: "";
            background-color: #000;
        }
    }
}

.blog-card {
    position: relative;
    overflow: hidden !important;
    &:hover img {
        transition: all 0.5s ease;
        transform: scale(1.1);
    }
}
